html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.cfour {
  height: 120%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 900px) {
  .cfour {
    height: 120%;
  }
}

@media (min-width: 600px) {
  .cfour {
    height: 100%;
  }
}

#video {
  position: relative;
  height: 105%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}

.text {
  position: absolute;
  top: 250%;
  color: #ffffff;
  width: 75rem;
  height: 10rem;
  padding: 10rem;
  left: 20%;
  font-size: 4rem;
}

@media (min-width: 900px) {
  .text {
    font-size: .5rem;
  }
}

@media (min-width: 600px) {
  .text {
    font-size: 4rem;
  }
}

.text:hover {
  transform: scale(0.6);
  outline: 2rem solid #ffffff;
}

.cfour:hover .text:not(:hover) {
  transform: scale(0.4);
  opacity: 0.4;
}
