@import "_variables.scss";

.two{
    width: 100%;
    height: 90vh;
    background-color: $black;
    clip-path: polygon(50% 0%, 100% 9%, 100% 89%, 50% 100%, 0 88%, 0 10%);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../../media/sky6.jpg);
    @include laptop {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);  
      }
    
}

.colum1{
    flex-direction: column;
    display: flex;
    
}
.colum1-header{
    font-size: 3.4rem;
    font-family: "Kaushan Script", cursive;
    text-transform: uppercase;
    color: $darkgrey;
    @include laptop{
        font-size: 4rem;
    }
}
.colum1-des{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: $black;
    @include laptop{
        font-size: 2.9rem;
        
    }
}
.colum2{
   display: flex;
   flex-direction: column;
   
}
.pics-1{
    height: 10vh;
    margin-top: 10vh;
  
}