@import "_variables.scss";

.cthree{
  background-image: url(../../media/white.jpg);
//   clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  border-radius: 25% 20%;

}
.visit-title{
    font-size: 2rem;
    color: $black;
    text-align: center;
    height: 2vh;
    letter-spacing: .2rem;

    @include tablet{
        font-size: 3rem;
        height: 6vh;
        margin-top: 1rem;
    }    
    @include laptop{
        font-size: 4rem;
        height: 10vh;
        margin-top: 2rem;
    }
} 

.visit-parent{
    height: 90vh;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    @include tablet{
        flex-direction: row;
        align-items: flex-start;
        height: 35vh;
    }    
    @include laptop{
        height: 80vh;
        flex-direction: row;
        align-items: center;
        width: 85%;
    }
}

.card-side{
    height: 21rem;
    width: 15rem;
    font-size: 15px;
    color: $white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem $white;
    @include tablet{
        height: 28rem;
        width: 18rem;
    }
    @include laptop{
        height: 40rem;
        width: 25rem;
        top: 220%;
        
    }
}


.visit-image-front-one{
    background-image: url(../../media/hob.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}


.visit-image-back-one{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}

.visit-flip-card-one:hover .visit-image-front-one{
    transform: rotateY(-180deg);
}

.visit-flip-card-one:hover .visit-image-back-one{
    transform: rotateY(0deg);
} 
.visit-image-front-two{
    background-image: url(../../media/zipline.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}


.visit-image-back-two{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}

.visit-flip-card-two:hover .visit-image-front-two{
    transform: rotateY(-180deg);
}

.visit-flip-card-two:hover .visit-image-back-two{
    transform: rotateY(0deg);
} 
.visit-image-front-three{
    background-image: url(../../media/raft.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}


.visit-image-back-three{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}

.visit-flip-card-three:hover .visit-image-front-three{
    transform: rotateY(-180deg);
}

.visit-flip-card-three:hover .visit-image-back-three{
    transform: rotateY(0deg);
} 