@import "_variables.scss";
.cfour {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #video {
    position: relative;
    height: 100vh;
    width: 80rem;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
  }
  .text {
    position: absolute;
    bottom: 0;
    background: $black;
    color: $white;
    width: 100%;
    padding: 20px;
  }
