@import "_variables.scss";
.footer {
  height: 80vh;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
 
.icon{
    height: 55rem;
    width: 5rem;
    @include tablet {
        height: 72rem;
        width: 7rem;
      }
    @include laptop{
        height: 45rem;
        width: 7rem;
      }
    
}

