@import "_variables.scss";
.footer {
  height: 80vh;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  // background-color: $purple;
}
 
.icon{
    height: 55rem;
    width: 50rem;
    margin: 4rem;
    @include tablet {
        height: 72rem;
        width: 70rem;
        margin: 12rem;
      }
    @include laptop{
        height: 45rem;
        width: 70rem;
      }
}

.insta{

}
