@import "_variables.scss";
@import "_gallery.scss";
@import "_cont2.scss";
@import "_cont3.scss";
@import "_cont4.scss";
// @import "_footer.scss";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: $black;
}
.header {
  position: relative;
  height: 100vh;
  background-image: url("../../media/tower.jpg");
  background-position: top;
  background-size: cover;
  @include laptop {
    background-position: center;
    background-image: url("../../media/hope.jpg");
  }
  @include tablet {
  }
}
.text-box {
  position: absolute;
  top: 10%;
  left: 18%;
  text-align: center;
  @include tablet {
    left: 0%;
  }
  @include laptop {
    left: 18%;
    top: 10%;
  }
}
.text-one-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $black;
  text-transform: capitalize;
  animation-name: translate-1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  text-shadow: 1rem 1rem 2rem $black;
  font-size: 3.25rem;
  @include tablet {
    font-size: 6rem;
    letter-spacing: 1.8rem;
  }
  @include laptop {
    font-size: 10rem;
    letter-spacing: 2.2rem;
    text-shadow: 1rem 1rem 2rem $grey;
    color: $white;
  }
}
.text-one-side {
  text-shadow: 1rem 1rem 1rem $grey;
  animation-name: ani2;
  animation-duration: 3s;
  @include tablet {
    font-size: 5rem;
    letter-spacing: 1.8rem;
    left: 50%;
  }
  @include laptop {
    font-size: 8rem;
    letter-spacing: 1rem;
    color: $white;
  }
}
@keyframes ani2 {
  0% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes translate-1 {
  0% {
    transform: translateX(200rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* .nav{
  background:$white;
  height: 80px;
  width: 100%;
  @include tablet{
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 2rem;
}
@include laptop{
    padding-left: 3rem;
    padding-right: 3rem;
}
}
.logo{
  color: $white;
  font-size: 1.75rem;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  @include tablet {
    font-size: 2rem;
   
  }
  @include laptop{
    font-size: 3rem;
  }
}
.ul{
  float: right;
  margin-right: 20px;
  @include tablet{
    flex-direction: row;
    width: 100%;
}
@include laptop{
    justify-content: flex-end;
}
}
.li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.a{
  color: $white;
  font-size: 1,75rem;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  @include tablet {
    font-size: 2rem;
  }
  @include laptop{
    font-size: 3rem;
  }
}
.ul:hover .a:not(:hover) {
  background: $grey;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: $white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
#check{
  display: none;
} */